/* RESTAURANT WEBSITE */


body {
    
    background-color: floralwhite; 
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #55d6aa;
    background-image: url('image/header-image.jpg');
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-size: cover;
    
}

h1 {
    font-size: 70px;
    text-align: center;
    color: indianred;
    font-weight: 600;
    font-stretch: extra-condensed;
    word-spacing: 30px;
    margin: 80px 0 0;
    font-family: cursive;
}  

#heading {
    font-size: 45px;
    font-family:monospace;
    text-align: center;
    word-spacing: 20px;
    margin: 0 0 100;
    font-weight: 600;
}

#headingtagline {
    text-align: center;
    font-size: 18px;
    color: darkgreen;
    font-weight: 400;
    margin: 50px 0 0;
    word-spacing: 4px;
    font-family: cursive;
}
 

.container {

    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}


li { 
display: inline-block;    
text-transform: uppercase;    
list-style: none;
color: black;
margin:  80px 60px 0;
font-family: monospace;
    
    
}

/* Styling Links */

/* unvisited */
a:link {
    color: blue;
    text-decoration-line: none;
}

/* visited */
a:visited {
    color: black;
}

/* hover / mouse-over */
a:hover {
    color: red;
}

/* active / mouse-down */
a:active {
    color: dimgray;
}

/* Article Style */

.section-1 div {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 80px 200px 0;
    font-style: normal;
    
}

.section-1 span {
    font-size: 15px;
    font-family: cursive;
    font-weight: 200;
    margin: 0 200px 0px;
    line-height: 80px;
}

.section-1 p {
     margin: 80px 10px 0;
     font-size: 20px;
     word-spacing: 5px;
     font-style: italic; 
}

#image-border {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    float: right;
}

.background-image {
    background-color: #55d6aa;
    background-image: url('image/download.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    
}