/* RESTAURANT WEBSITE */


body {
    
    background-color: floralwhite; 
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #55d6aa;
    background-image: url('image/header-image.jpg');
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-size: cover;
    
}

h1 {
    font-size: 70px;
    text-align: center;
    color: indianred;
    font-weight: 600;
    font-stretch: extra-condensed;
    word-spacing: 30px;
    margin: 80px 0 0;
    font-family: cursive;
}  

#heading {
    font-size: 60px;
    font-family:monospace;
    text-align: center;
    word-spacing: 20px;
    margin: 0 0 100;
    font-weight: 400;
}

#headingtagline {
    text-align: center;
    font-size: 22px;
    color: darkgreen;
    font-weight: 400;
    margin: 50px 0 0;
    word-spacing: 3px;
    font-family: cursive;
}
 

.container {

    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}


li { 
display: inline-block;    
text-transform: uppercase;    
list-style: none;
color: black;
margin:  130px 80px 80px;
font-family: monospace;
    
    
}

/* Styling Links */

/* unvisited */
a:link {
    color: blue;
    text-decoration-line: none;
}

/* visited */
a:visited {
    color: black;
}

/* hover / mouse-over */
a:hover {
    color: red;
}

/* active / mouse-down */
a:active {
    color: dimgray;
}

/* Article Style */

.section-1 div {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 80px 300px 0;
    font-style: normal;
    
}

.section-1 span {
    font-size: 22px;
    font-family: serif;
    font-weight: 500;
    margin: 0 300px 0;
    line-height: 150px;
}

.section-1 p {
     margin: 100px 50px 0 50px;
     font-size: 25px;
     word-spacing: 3px;
     font-style: italic; 
     float: left;
     padding-top: 100px;
     clear: left;
     
}

img {
   
    height: 450px;
    width: 500px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-top: 100px;
    
}

#Pricing {
    font-size: 60px;
    font-family: fantasy;
    margin: 40px 260px 0;
    text-align: center;
    color: firebrick;
    word-spacing: 10px;
        
}

.tagline {
    
    font-size: 40px;
    text-align: center;
    word-spacing: 20px;
    color: black;
    line-height: 50px;
    font-family: sans-serif;
}

.border-box {
    
    border: 3px solid black;
    height: 500px;
    width: 500px;
    float: left;
    border-spacing: 20px;
}
