/* RESTAURANT WEBSITE */


body {
    
   
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #55d6aa;
    background-image: url('image/header-image.jpg');
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-size: cover;
    
}

h1 {
    font-size: 90px;
    text-align: center;
    color: indianred;
    font-weight: 400;
    font-stretch: extra-condensed;
    word-spacing: 30px;
    margin: 100px 0 50px;
    
}  

#heading {
    font-size: 60px;
    font-family: serif;
    text-align: center;
    word-spacing: 20px;
    margin: 0 0 50px;
    font-weight: 400;
}

#headingtagline {
    text-align: center;
    font-size: 23px;
    color: darkgreen;
    font-weight: 500;
    margin: 100px 200px 0;
    word-spacing: 10px;
    
}
 

.container {

    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}


.list { 
display: inline-block;    
text-transform: uppercase;    
list-style: none;
color: black;
margin:  130px 80px 30px;
font-family: serif;    
}

/* Styling Links */

/* unvisited */
a:link {
    color: blue;
    text-decoration-line: none;
}

/* visited */
a:visited {
    color: black;
}

/* hover / mouse-over */
a:hover {
    color: red;
}

/* active / mouse-down */
a:active {
    color: dimgray;
}

/* Article Style */

.section-1 div {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 80px 300px 0;
    font-style: normal;
    
}

.section-1 span {
    font-size: 22px;
    font-family: serif;
    font-weight: 500;
    margin: 0 300px 0;
    line-height: 150px;
}

.section-1 p {
     margin: 100px 50px 0 100px;
     font-size: 25px;
     word-spacing: 3px;
     font-style: italic; 
     float: left;
     padding-top: 100px;
     clear: both;
     
}

img {
   
    height: 450px;
    width: 500px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-top: 100px;
    border: 2px solid black;
    
}

/* PRICING MENU */
#Pricing {
    font-size: 80px;
    margin: 40px 260px 0;
    text-align: center;
    color: firebrick;
    word-spacing: 10px;
        
}

.tagline {
    
    font-size: 30px;
    text-align: center;
    word-spacing: 30px;
    color: black;
    line-height: 50px;
}


.basic-menu {
   font-size: 35px;
  line-height: 20px;
  text-align: center;    
  color: firebrick;
  font-weight: 400;    
     
}

.border-box {
    border: 4px solid black;
    width: 450px;
    height: 520px;
    border-radius: 10px;
    float: left;
    margin: 80px 50px 80px 50px;
    background-color: blanchedalmond;
    
}

.Menu-list {
    text-align: center;
    list-style: none;
    font-size: 22px;
    line-height: 50px;
    font-weight: 400;
    clear: both;
}


/* Aside information */
#aside-heading {
    font-size: 60px;
    padding-top: 50px;
    line-height: 40px;
    font-weight: 400;
    margin-left: 30%;
}

.aside-line {
    
    text-align: center;
    font-size: 22px;
    margin-bottom: 100px;
    font-family: sans-serif;
    
}

.underline {
    border-bottom: 5px solid black;
    padding-bottom: 30px;
    display: inline-block;

}
/* Footer */

.footer-container {
     
     color: white;
     font-size: 20px;
     float: left;
     padding: 120px 120px 100px 80px;
     margin: 0 0 0 60px;
   
}

#box-footer {
    
    background-color: black;
    padding-bottom: 500px;
    clear: both; 
}


.footer-heading {
    
    font-weight: bold;
    font-size: 30px;
} 

#Day-list {
    
    list-style: none;
}

#style-heading-1 {
    margin-top: 2px;
}

#style-heading-2 {
    margin-top: -20px;

}



small {
    
color: white;
margin: 0 600px 0 600px;    
font-size: 20px;

}

footer {
    
    border: 1px solid black;
    background-color: black;
}

